<c8y-action-bar-item *ngIf="hasTenantOptionAdminPermission" placement="left">
  <div class="row">
    <input type="text" [(ngModel)]="value" />
    <button class="btn btn-link" (click)="saveAuthInTenantOption()">
      Save
    </button>
  </div>
</c8y-action-bar-item>

<c8y-action-bar-item placement="right"
  ><button class="btn btn-link" (click)="openInNewTab()">
    <i [c8yIcon]="'external-link'"></i>&nbsp;
    <span translate>Open in new tab</span>
  </button></c8y-action-bar-item
>

<iframe
  [ngClass]="{ hidden: showLoader }"
  [src]="safePathToProxyMS$ | async"
  (load)="iframeLoaded($event)"
  class="split-scroll"
  #iframe
>
</iframe>

<c8y-loading *ngIf="showLoader"></c8y-loading>
